.uno,.dos{
    width: 30px;
    height: 20px;
    background-color: red;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.ma{
    width: 30px;
    height: 20px;
    background-color: saddlebrown;
    padding: 10px;
    border-radius: 5px;
}