*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #aca9ab;
    font-family: 'Karla',sans-serif;
    font-weight: 400;
}

header, .box_button{
    display: flex;
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
}

.menu_header{
    justify-content: space-between;
    width: 100%;
    padding: 0 66px;
}

.menu_header li {
    display: inline-block;
    align-items: center;
    padding: 0 14px;
}

.menu_header li a{
    font-size: 17px;
    color: #60a5a5;
    text-decoration: none;
    text-transform:capitalize;
    white-space: nowrap;
}

.box_button{
    background-color: transparent;
    padding: 0;
    text-align: center;
    box-shadow: none;
}
.box_button .button{
    margin: 20px auto;
    border-radius: 2px;
    color: #fff;
    background-color: #696969;
    display: inline-block;
    text-transform: uppercase;
    padding: 18px 54px;
    white-space: nowrap;
    background-color: #60a5a5;
    cursor: pointer;
}

.modal_form{
    display: none;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}
.modal_form .formulario{
    height: 70%;
    margin: 10% auto;
    max-height: 580px;
    width: 500px;
    padding: 10px 24px;
    background: white;
    position: relative;
}

.formulario .form_header,
.formulario .form_body{
    width: 100%;
    float: left;
}

.form_header{
    position: relative;
    height: 56px;
    line-height: 56px;
}
.form_header p{
    color: black;
    font-weight: 500;
    text-align: left;
}
.form_header .close{
    position: absolute;
    color: gray;
    left: auto;
    right: 0;
    top: 0;
    line-height: 56px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.link {
    font-size: 20px;
    text-decoration: none;
    color: red;
}
.link:link{
    text-decoration: none;
}
.link:visited{
    color: blue;
}
.link:hover{
    background: yellow;
    color: blueviolet;
}

p{
    text-align: center;
}
blockquote{
    text-align: center;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-style: italic;
    color: #428142;
    text-align: center;
}
.encabezado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: italic;
    color: #f70000;
    text-align: center;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    color: black;
    text-align: center;
}
.paquete1{
    background: rgb(255, 153, 0);
    width: 200px;
    height: 200px;
}
.paquete2{
    background: rgb(0, 255, 64);
    width: 200px;
    height: 200px; 
}
.paquete3{
    background: rgb(212, 0, 255);
    width: 200px;
    height: 200px;
}
.img1{
    opacity: 0.5;
}
.img2{
    width: 100px;
    opacity: 0.5;
}
.img2{
    vertical-align: top;
    width: 500px;
    margin: 30px;
    padding: 5px;
    border: 5px solid blanchedalmond;
}
.img3{
    width: 100px;
    opacity: 0.5;
}
.img3{
    vertical-align: top;
    width: 500px;
    margin: 30px;
    padding: 5px;
    border: 5px solid blanchedalmond;
}
.img4{
    width: 100px;
    opacity: 0.5;
}
.img4{
    vertical-align: top;
    width: 500px;
    margin: 30px;
    padding: 5px;
    border: 5px solid blanchedalmond;
}
.img2:hover{
    border: 3px solid rgb(247, 247, 247);
    opacity: 1;
}
.img3:hover{
    border: 3px solid rgb(247, 247, 247);
    opacity: 1;
}
.img4:hover{
    border: 3px solid rgb(247, 247, 247);
    opacity: 1;
}