body {
    background: url(../_lib/img/fondo.jpg) no-repeat fixed center center;
   /* background-repeat:no-repeat; 
    background-size: 500px; */
}
/*.fondo {
    width: 600px;
    height: 600px;
    background: url(../_lib/img/fondo.jpg);
}*/